<div class="contents row">
  <div class="container">
    <h3><b>＜概要＞</b></h3>
    <div class="about_content">
      <strong style="color: #3273dc;">Travellers</strong>は、旅行先のレビューアプリケーションです<br>
      主な機能としては・・・<br>
      <ul>
        <li>実際に行った旅行先をレビューする</li>
        <li>他の人のレビューにコメントや、いいね（<span class="fas fa-heart" style="color: #3273dc;"></span>）をつける</li>
        <li>レビューを検索する</li>
      </ul>
      などがあります
    </div>
    <h3><b>＜使い方＞</b></h3>
    <div class="about_content">
      <div class="about_title">
        ログイン/新規登録しよう！
      </div><br>
      まず最初に、ログイン/新規登録をしましょう<br>
      <br>
      ※現在テストアカウントを用意していますので、こちらでログインして利用することも可能です<br>
      <ul>
        <li>ID:test1@test1</li>
        <li>PASS:xxx111111</li>
      </ul>
      <%= image_tag"210522_signup.gif" %>
      情報入力後、『新規登録』ボタンを押すことで、新規登録が完了します<br>
    </div>

    <div class="about_content">
      <div class="about_title">
        投稿しよう！
      </div><br>
      ログイン後、アプリの右上『投稿する』ボタンから新規投稿をしましょう<br>
      <%= image_tag"210522_post.gif" %>
      <strong style="color: #ff0000;">※必ず実際に行ったことがある場所のみ投稿してください</strong><br>
      ※【必須】の項目は入力しないと、送信できません
    </div>

    <div class="about_content">
      <div class="about_title">
        いいね（<span class="fas fa-heart" style="color: #3273dc;"></span>）&コメントをしよう！
      </div><br>
      ユニークな投稿には詳細表示画面から、いいね（<span class="fas fa-heart" style="color: #3273dc;"></span>）をつけましょう！<br>
      <%= image_tag"210522_like.gif" %>
      できれば、コメントを残しましょう！
      <%= image_tag"210522_comment.gif" %>
    </div>

    <div class="about_content">
      <div class="about_title">
        見つけよう！
      </div><br>
      都道府県やキーワード検索、並び替え機能で投稿を見つけましょう！<br>
      <%= image_tag"210522_search.gif" %>
      <%= image_tag"210522_sort.gif" %>
    </div>
  </div>

</div>