<%= link_to "#" do %>
    <div class="content_post" >
    <%= image_tag 'sample.jpg', class: "item-img" %>
      <p><%= "(都道府県名)" %></p>
      <span class="name">
          <span>投稿者</span><%= "(ユーザー名)" %>
      </span>
    </div>
    <div class="content-bottom">
      <div class="travel-title"><%= "(旅先名)" %></div>
      <div class="star-rating mb-2">
        <div class="star-rating-front" style="width: <%= "#" %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
    </div>
    <% end %>