<div class="search-output">
  <div class="contents-header">
    <u>＜検索情報＞</u>
  </div>
  <div class=search-output-contents>
  <% if current_page?(search_posts_path) %>  <%# 検索時の表示 %> 
    <div class="output-title">
      都道府県:
      <% if params[:area_id] != "1" %>
        <%= @area.name %><br>
      <% else%>
        （指定なし）<br>
      <% end %>
      
      キーワード:
      <% if params[:keyword] != "" %>
        <%= params[:keyword] %>
      <%else%>
        （入力なし）
      <% end %>
    </div>
    <div class="output-title mt-3">
      検索件数:<%= @posts.length %>件<br>
      平均評価
    </div>
    <div class="average-score">
      <div class="star-rating">
        <% if @posts.present? %>
          <div class="star-rating-front" style="width: <%= @posts.average(:score).round(2).to_f*100/5 %>%">★★★★★</div>
        <% end %>
        <div class="star-rating-back">★★★★★</div>
      </div>
      <div class="average-score-display">
        <% if @posts.present? %>
        <%= @posts.average(:score).round(2).to_f %>点
        <% else %>
        #.##点
        <% end %>
      </div>
    </div>
  <% else %>                 <%# トップページの表示 %>
    <div class="output-title">
      都道府県:<%= "〇〇県" %><br>
      キーワード:<%= "〜〜〜〜〜" %> 
    </div>
    <div class="output-title mt-3">
      検索件数:<%= "###" %>件<br>
      平均評価
    </div>
    <div class="average-score">
      <div class="star-rating">
        <div class="star-rating-back">★★★★★</div>
      </div>
      <div class="average-score-display">
        <%= "#.##" %>点
      </div>
    </div>
    <div class="output-title mt-3">
      <strong>↑検索時に表示されます↑</strong>
    </div>
  <% end %>
  </div>
</div>