<%= render partial: "search-form" %>
<%= render partial: "search-output" %>

<%= form_with url: posts_path, method: :get do |f| %>
  <%= render partial: "sort", locals: {f: f} %>
<% end %>

<div class="contents-header">
  <u>＜投稿一覧＞</u>
</div>

<% if @posts != nil %>
  <div class="contents row">
    <% @posts.each do |post| %> 
      <%= render partial: "post", locals: { post: post } %>
    <% end %>
  </div>
<% end %>