<%= form_with(url: "#", local: true, method: :get, class: "search-form") do |f| %>
  <%# <%= f.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"select-box", id:"erea-category"}) %> 
  <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <%# 投稿の表示 %>
  <% @posts.each do |post| %> <%#  後で変える %>
    <%= link_to "#" do %>
    <div class="content_post" >
    <%= image_tag post.image, class: "item-img" %>
      <p><%= post.area.name %></p>
      <span class="name">
          <span>投稿者</span><%= post.user.nickname %>
      </span>
    </div>
    <div class="content-bottom">
      <div class="travel-title"><%= post.title %></div>
      <div class="star-rating mb-2">
        <div class="star-rating-front" style="width: <%= "#" %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
    </div>
    <% end %>
    
  <% end %>
</div>