<div class="contents row">
  <div class="content_post">
  <%= image_tag @post.image, class: "item-img" %>
    <% if current_user.id == @post.user_id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_post_path(@post.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', post_path(@post.id), method: :delete, data: { confirm: '削除しますか？' }%>
        </li>
      </ul>
    </div>
    <% end %>    
  </div>
  <div class="show-content">
    <div class="show-content-top">
      <p><%= @post.area.name %></p>
      <span class="name has-text-right">
        <a href="#">
        <p>投稿者</p><%= @post.user.nickname %>
        </a>
      </span>
    </div>

    <div class="show-content-center">
      <div class="travel-title"><%= @post.title %></div>
      <div class="star-rating mb-2">
        <div class="star-rating-front" style="width: <%= "#" %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      </div>
    </div>

    <div class="show-content-bottom">
      <div class="content-text">
        <%= safe_join(@post.text.split("\n"), tag.br) %>
        <%#= @post.text %>
      </div>
      <div class="content-date has-text-right">
        <%= l @post.created_at, format: :date %>
      </div>
    </div>
  </div>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with( local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <%#<% @comments.each do |comment| %>
        <p>
          <strong><%= link_to "コメントユーザーネーム", "#" %>：</strong>
          <%= "コメント文" %>
        </p>
      <%#<% end %>
    </div>
  </div>
  
</div>