<!DOCTYPE html>
<html>
  <head>
    <title>Travellers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row ">
        <h1 class="grid-6"><a href="/"><b>Travellers</b></a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%#<%= link_to "マイページ", "#" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
            <%= link_to "投稿する", new_post_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %> 
      </div>
    </header>
    <div class="header-space"></div>
    <%= yield %>
    <footer>
      <p>
        Copyright  Travellers 2021.
      </p>
    </footer>
  </body>
</html>
